@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  padding: 0;

}

@tailwind base;
@tailwind components;
@tailwind utilities;